<section class="shortcut__booking">
  <div class="container">
    <span class="dropup">
      <button href="#" class="dropdown-toggle btn" data-toggle="dropdown">Phim <b class="caret"></b></button>
      <ul class="dropdown-menu dropdown-primary dropdown-menu-top">
        <li class="dropdown-header">Phim</li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </span>

    <span class="dropup">
      <button href="#" class="dropdown-toggle btn" data-toggle="dropdown">Rạp <b class="caret"></b></button>
      <ul class="dropdown-menu dropdown-primary dropdown-menu-top">
        <li class="dropdown-header">Hãy chọn Phim</li>
        <!-- <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li> -->
      </ul>
    </span>

    <span class="dropup">
      <button href="#" class="dropdown-toggle btn" data-toggle="dropdown">Ngày xem <b class="caret"></b></button>
      <ul class="dropdown-menu dropdown-primary dropdown-menu-top">
        <li class="dropdown-header">Hãy chọn phim và rạp</li>
        <!-- <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li> -->
      </ul>
    </span>

    <span class="dropup">
      <button href="#" class="dropdown-toggle btn" data-toggle="dropdown">Suất chiếu <b class="caret"></b></button>
      <ul class="dropdown-menu dropdown-primary dropdown-menu-top">
        <li class="dropdown-header">Hãy chọn phim, rạp và ngày xem</li>
        <!-- <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
        <li class="divider"></li>
        <li><a href="#">One more separated link</a></li> -->
      </ul>
    </span>

    <button mat-raised-button class="btn btn-success">Mua vé ngay</button>
  </div>
</section>
