.footer {
    background-color: #222;
    color: #949494;
    display: flex;
    justify-items: center;
    align-items: center;
    padding-bottom: 50px;
    .footer__content {
        .row {
            margin-bottom: 10px;
            a {
                font-weight: 700;
                white-space: nowrap;
                color: #949494;
                display: block;
                transition: all 0.2s;
                line-height: 2.3;
            }
            a:hover {
                color: #fb4226;
            }
        }
        .iconConnect {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            margin-right: 5px;
        }
        .material-icons {
            margin-right: 10px;
        }
    }
}