.navbar {
    margin-bottom: 0px !important;
    .container {}
    .navbar-brand {
        img {
            display: block;
            width: 40px;
            height: 40px;
        }
    }
    .navbar-collapse {
        .navbar-nav {
            width: 100%;
            justify-content: center;
            .nav-item {
                .nav-link {
                    font-size: 14px;
                }
                &:hover {
                    color: $red-a400;
                    transition: all 0.6s;
                }
            }
        }
    }
}