.lichchieu {
    margin-bottom: 100px;
    .hethongrap {
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            .htr {
                transition: opacity 0.2s;
                list-style: none;
                margin: 20px 0;
                padding-bottom: 10px;
                border-bottom: 2px dashed black;
                cursor: pointer;
                a {
                    padding: 20px;
                    position: relative;
                    transition: all 0.2s;
                    img {
                        width: 50px;
                    }
                }
            }
        }
        ul:hover .htr:not(:hover) {
            opacity: 0.5;
        }
    }
    .chonrap {
        .nav-pills {
            .nav-link {
                opacity: 0.5;
                font-weight: 500;
                color: #000;
            }
            .active {
                background-color: transparent;
                color: #fb4226;
                opacity: 1;
            }
        }
    }
    .chonlichchieu {
        .card {
            margin-top: 10px !important;
        }
        .tabLichChieu {
            .card {
                .card-body {
                    .colorCinema {
                        display: flex;
                        align-items: center;
                        .imgPhim {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                            margin-right: 20px;
                        }
                        .content {
                            display: flex;
                            .typeMovie {
                                background-color: #fb4226;
                                border-radius: 4px;
                                padding: 0 5px;
                                top: 12px;
                                left: 12px;
                                color: $white;
                                min-width: 33px;
                                text-align: center;
                                font-weight: bold;
                                display: inline-block;
                            }
                        }
                    }
                }
                .card-text {
                    .lichchieu__choosing {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
}