.listmovie {
  font-size: 20px;
  padding: 60px 0;
  .nav-tabs {
    .nav-link {
      color: $pink-a400;
    }
    .active {
      border-color: #eee;
      background-color: #eee;
      font-size: 26px;
      transition: all 0.6s;
      &:hover {
        border-color: #eee;
        font-size: 26px;
      }
      &:active {
        font-size: 26px;
      }
      &:focus {
        border-color: #eee;
      }
    }
  }
  .tab-content {
    .row {
      .item-movie {
        .card {
          .card-header {
            height: 90px;
          }
          .card-body {
            cursor: pointer;
            position: relative;
            border-radius: 4px;
            padding-top: 147.90697674%;
            background-position: center, 0 0 !important;
            background-size: 100% 100% !important;
            background-repeat: no-repeat, repeat-y !important;
          }
          .hoverInfo {
            cursor: pointer;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: 0 0;
            background: linear-gradient(to top, $black, transparent 100%);
            border-radius: 4px;
            .playTrailer {
              width: 60px;
              height: 60px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 3;
              background: 0 0;
              border: none;
              i {
                font-size: 60px;
                color: $white;
                cursor: pointer;
              }
            }
          }
          .showHover {
            visibility: hidden;
            display: none;
          }
          .hideHover {
            visibility: visible;
            display: block;
          }
          .button-datve {
            background-color: $white;
            border-radius: 4px;
            .buyNow {
              display: block;
              width: 100%;
              border-radius: 4px;
              color: $white;
              font-size: 18px;
              padding: 10px;
              text-align: center;
              background: #fb4226;
            }
          }
          .typeMovie {
            background-color: #fb4226;
            border-radius: 4px;
            padding: 0 5px;
            position: absolute;
            top: 12px;
            left: 12px;
            color: $white;
            min-width: 33px;
            text-align: center;
            font-weight: bold;
          }
          .avgPoint {
            font-size: 16px;
            background-color: rgba(12, 27, 54, 0.8);
            border: 1px solid #1f2e46;
            border-radius: 4px;
            padding: 2px;
            position: absolute;
            top: 12px;
            right: 12px;
            color: #fff;
            width: 54px;
            text-align: center;
            line-height: 1.1;
            .txtPoint {
              text-align: center;
              transform: scaleY(1.2);
              margin-bottom: 0;
            }
            .listStar {
              margin-bottom: 0;
              i {
                font-size: 8px;
              }
            }
          }
        }
      }
      .item-movie:hover .showHover {
        visibility: visible;
        display: block;
      }
      .item-movie:hover .hideHover {
        visibility: hidden;
        display: none;
      }
    }
  }
}

@include respond-to('small') {
  .listmovie {
    .tab-content {
      .row {
        .item-movie {
          padding: 0 60px;
          .card {
            .card-body {
              max-width: 340px;
              min-height: 400px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}
