.shortcut__booking {
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 6px 0;
    position: fixed;
    bottom: 0;
    background: $white;
    left: 0;
    right: 0;
    z-index: 99;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        .dropup:nth-child(1) {
            .dropdown-toggle {
                padding: 12px 60px;
            }
        }
        .dropup {
            cursor: pointer;
            margin-right: 20px;
            .dropdown-toggle {
                color: $black;
                background-color: $white;
            }
        }
    }
}

@include respond-to('medium') {
    .shortcut__booking {
        .container {
            .dropup {
                margin-right: 0px;
            }
        }
    }
}