.carousel {
    position: relative;
    .carousel-inner {
        .carousel-item {
            a {
                cursor: pointer;
            }
            .button__play {
                cursor: pointer;
                position: absolute;
                top: 45%;
                left: 45%;
                i {
                    font-size: 80px;
                    color: $white;
                    opacity: 0;
                }
            }
            &:hover .button__play i {
                opacity: 1;
                transition: all 0.4s;
            }
        }
    }
}

@include respond-to('small') {
    .carousel-inner {
        .carousel-item {
            .button__play {
                top: 40% !important;
                left: 50% !important;
                i {
                    font-size: 40px !important;
                }
            }
        }
    }
}