<app-data-table [title]="title" [subTitle]="subTitle">

  <ng-container *ngIf="isEdit || isInsert; then formEdit else formData"></ng-container>

  <ng-template #formData>

    <button mat-icon-button matTooltip="Thêm rạp" class="iconbutton" color="warn" (click)="insertRap()">
      <mat-icon aria-label="Insert">
        add_circle_outline
      </mat-icon>
    </button>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Hãy nhập từ khóa bạn muốn tìm kiếm">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table" matSort>
      <ng-container matColumnDef="tenRap" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Tên rạp </th>
        <td mat-cell *matCellDef="let element"> {{element.tenRap}} </td>
      </ng-container>

      <ng-container matColumnDef="maTrangThaiRap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Trạng thái rạp </th>
        <td mat-cell *matCellDef="let element"> {{element.maTrangThaiRap}} </td>
      </ng-container>

      <ng-container matColumnDef="maCumRap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Cụm rạp </th>
        <td mat-cell *matCellDef="let element"> {{element.maCumRap}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"></th>

        <td mat-cell *matCellDef="let element">
          <button (click)="editRap(element.maRap)" mat-icon-button matTooltip="Chỉnh sửa" class="iconbutton"
            color="primary">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button (click)="xoaRap(element.maRap)" mat-icon-button matTooltip="Xóa" class="iconbutton" color="warn">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource.data.length" [pageSize]="20" [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>

  </ng-template>

  <ng-template #formEdit>
    <form #rapForm="ngForm">
      <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i *ngIf="isInsert" class="material-icons" style="font-size: 30px">add_circle_outline</i>
            <i *ngIf="isEdit" class="material-icons" style="font-size: 30px">edit</i>
          </div>
        </div>
        <div class="card-body">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Tên rạp" id="tenRap" name="tenRap" [(ngModel)]="rap.tenRap"
              #tenRap="ngModel" required />
          </mat-form-field>

          <div *ngIf="tenRap.errors && (tenRap.dirty || tenRap.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="tenRap?.errors?.required ">Bạn phải nhập tên rạp</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field>
            <mat-select placeholder="Trạng thái rạp" name="maLoaiNguoiDung" [(ngModel)]="rap.maTrangThaiRap"
              #maTrangThaiRap="ngModel" required>
              <mat-option *ngFor="let type of trangThaiRap" [value]="type.maTrangThaiRap">{{ type.tenTrangThaiRap }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="maTrangThaiRap?.errors && (maTrangThaiRap.dirty || maTrangThaiRap.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="maTrangThaiRap?.errors.required">Bạn phải chọn trạng thái</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field>
            <mat-select placeholder="Cụm rạp chiếu" name="maCumRap" [(ngModel)]="rap.maCumRap" #maCumRap="ngModel"
              required>
              <mat-option *ngFor="let type of cumRapChieu" [value]="type.maCumRap">{{ type.tenCumRap }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="maCumRap?.errors && (maCumRap.dirty || maCumRap.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="maCumRap?.errors.required">Bạn phải chọn cụm rạp chiếu</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="row">
            <button mat-raised-button class="btn btn-success" [disabled]="rapForm.invalid" (click)="confirmUpdate()">
              Xác nhận
            </button>
            <button mat-raised-button class="btn btn-default" (click)="backToFormData()">
              Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</app-data-table>