<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
            <img src="../../../../../assets/img/angular2-logo-red.png" alt="" />
        </a>

        <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <i class="material-icons">exit_to_app</i>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">

                    <a style="cursor: pointer" class="nav-link" (click)="goToSection('listMovieSection')">Lịch chiếu
                        <span class=" sr-only ">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a style="cursor: pointer" class="nav-link" (click)="goToSection('cumRapSection')">Cụm
                        rạp</a>
                </li>
                <li class="nav-item ">
                    <a style="cursor: pointer" class="nav-link " (click)="goToSection('listMovieSection')">Tin tức</a>
                </li>

                <ng-container *ngIf="isAuthenticated; else elseLogin ">
                    <li class="nav-item ml-auto ">
                        <a class="nav-link " [routerLink]="[ '/']">
                            <i class="material-icons ">face</i>{{ getHotenUser() }}
                        </a>
                    </li>

                    <li class="nav-item " style="cursor: pointer " (click)="logOut()">
                        <a class="nav-link "> <i class="material-icons ">input</i>Đăng xuất </a>
                    </li>
                </ng-container>
                <ng-template #elseLogin>
                    <li class="nav-item ml-auto ">
                        <a class="nav-link " [routerLink]="[ '/login'] "><i class="fa fa-user-circle "
                                aria-hidden="true "></i> Đăng nhập</a>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>