<div class="cover" *ngIf="phim != null">
    <div class="background" [ngStyle]="{'background-image': 'url(' + phim.hinhAnh + ')'}">

    </div>
    <div class=" movie__background ">
        <div class="movie__container ">
            <div class="row detailmovie ">
                <div class="col-lg-3 col-md-12 col-sm-12 ">
                    <div class="container__image">
                        <img [src]="phim.hinhAnh " alt="" class="movie__img" />
                        <div class="overlay ">
                            <a class="playTrailer " href="{{phim.trailer}} " target="_blank "><i
                                            class="fa fa-play-circle "></i></a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 ">
                    <div class="movie">
                        <div class="movie__date ">
                            {{ phim.ngayKhoiChieu | date: 'dd/MM/yyyy' }}
                        </div>
                        <div class="movie__name ">
                            <span class="movie__type ">
                                C13
                            </span> {{ phim.tenPhim }}
                        </div>
                        <div class="movie__info ">
                            {{ phim.moTa }}
                        </div>
                        <div class="movie__button ">
                            <button class="button ">Mua vé</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 ">
                    <div class="movie">
                        <div class="movie__rating ">
                            <span>{{ phim.danhGia * 2 | number:'1.0-0'}}</span>
                        </div>
                        <div class="movie__star ">
                            <i class="fa fa-star " *ngFor="let item of array(phim.danhGia) "></i>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row lichchieu " *ngIf="phim.heThongRapChieu.length>0">
                <div class="col-lg-3 chonrap ">
                    <div class="nav flex-column nav-pills " id="v-pills-tab " role="tablist " aria-orientation="vertical ">
                        <a *ngFor="let htr of phim.heThongRapChieu; let stt=index " [ngClass]="{ 'active':stt===0} " class="nav-link hover-shadow-box-animation" id="v-pills-{{htr.maHeThongRap}}" data-toggle="pill" href="#{{htr.maHeThongRap}} " role="tab " [attr.aria-controls]="htr.maHeThongRap "
                            aria-selected="true ">{{htr.tenHeThongRap}}</a>
                    </div>
                </div>
                <div class="col-lg-9 chonlichchieu ">
                    <div class="dateSelect ">
                        <div class="dayofWeeek" style="width: 189% ">
                            <div class="hover-underline-animation day active ">
                                Thứ 2
                            </div>
                            <div class="hover-underline-animation day ">
                                Thứ 3
                            </div>
                            <div class="hover-underline-animation day ">
                                Thứ 4
                            </div>
                            <div class="hover-underline-animation day ">
                                Thứ 5
                            </div>
                            <div class="hover-underline-animation day ">
                                Thứ 6
                            </div>
                            <div class="hover-underline-animation day ">
                                Thứ 7
                            </div>
                            <div class="hover-underline-animation day">
                                Chủ nhật
                            </div>
                        </div>

                    </div>

                    <div class="tab-content tabLichChieu " id="v-pills-tabContent ">
                        <div *ngFor="let htr of phim.heThongRapChieu; let stt=index " class="tab-pane fade " [ngClass]="{ 'show active' : stt===0} " id="{{htr.maHeThongRap}}" role="tabpanel" attr.aria-labelledby="v-pills-{{htr.maHeThongRap}} ">
                            <ng-container *ngFor="let cumRap of htr.cumRapChieu ">
                                <div class="card text-left" *ngIf="cumRap.lichChieuPhim.length > 0">
                                    <div class="card-body">
                                        <h4 class="card-title colorCinema ">{{cumRap.tenCumRap}}</h4>
                                        <p class="card-text ">
                                            <ng-container *ngFor="let lichChieu of cumRap.lichChieuPhim; let i=index ">
                                                <a [routerLink]="[ '/chi-tiet-dat-ve', lichChieu.maLichChieu ]" *ngIf="i<=8" class="hover-underline-animation text-success display-4 lichchieu__choosing ">
                                                    {{lichChieu.ngayChieuGioChieu | date : 'hh:mm'}}
                                                </a>
                                            </ng-container>
                                        </p>
                                    </div>
                                </div>
                            </ng-container>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>