// List group

$list-group-bg: inherit !default; // #fff
//$list-group-border-color:       #ddd !default;
$list-group-border-width: 0 !default; // $border-width
$list-group-border-radius: 0 !default; // $border-radius
//
