<app-data-table [title]="title" [subTitle]="subTitle">

  <ng-container *ngIf="isEdit || isInsert; then formEdit else formData"></ng-container>

  <ng-template #formData>

    <button mat-icon-button matTooltip="Thêm người dùng" class="iconbutton" color="warn" (click)="insertUser()">
      <mat-icon aria-label="Insert">
        add_circle_outline
      </mat-icon>
    </button>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Hãy nhập từ khóa bạn muốn tìm kiếm">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table" matSort>

      <!-- taiKhoan Column -->
      <ng-container matColumnDef="taiKhoan" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Tài khoản </th>
        <td mat-cell *matCellDef="let element"> {{element.taiKhoan}} </td>
      </ng-container>

      <ng-container matColumnDef="hoTen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Họ và tên </th>
        <td mat-cell *matCellDef="let element"> {{element.hoTen}} </td>
      </ng-container>


      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>



      <!-- soDt Column -->
      <ng-container matColumnDef="soDt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Số điện thoại </th>
        <td mat-cell *matCellDef="let element"> {{element.soDt}} </td>
      </ng-container>

      <ng-container matColumnDef="maLoaiNguoiDung">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Loại người dùng </th>
        <td mat-cell *matCellDef="let element"> {{element.maLoaiNguoiDung}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"></th>

        <td mat-cell *matCellDef="let element">
          <button (click)="editUser(element.taiKhoan)" mat-icon-button matTooltip="Chỉnh sửa" class="iconbutton"
            color="primary">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button (click)="xoaUser(element.taiKhoan)" mat-icon-button matTooltip="Xóa" class="iconbutton" color="warn">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource.data.length" [pageSize]="20" [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>

  </ng-template>

  <ng-template #formEdit>

    <form #userForm="ngForm">
      <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i *ngIf="isInsert" class="material-icons" style="font-size: 30px">add_circle_outline</i>
            <i *ngIf="isEdit" class="material-icons" style="font-size: 30px">edit</i>
          </div>
        </div>
        <div class="card-body">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Tài khoản người dùng" id="taiKhoan" name="taiKhoan"
              [(ngModel)]="user.taiKhoan" #taiKhoan="ngModel" [readonly]="this.isEdit" required minlength="6" />
          </mat-form-field>

          <div *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="taiKhoan?.errors?.required ">Bạn phải nhập tài khoản</span>
            <span *ngIf="taiKhoan?.errors?.minlength ">Tài khoản có độ dài hơn 6 ký tự</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Họ và tên" id="hoTen" name="hoTen" [(ngModel)]="user.hoTen"
              #hoTen="ngModel" required />
          </mat-form-field>

          <div *ngIf="hoTen?.errors && (hoTen.dirty || hoTen.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="hoTen?.errors.required">Bạn phải nhập số họ tên</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Email" id="email" name="email" [(ngModel)]="user.email"
              #email="ngModel" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required />
          </mat-form-field>

          <div *ngIf="email.errors && (email.dirty || email.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="email?.errors.required ">Bạn phải nhập Email</span>
            <span *ngIf="email?.errors.pattern ">Email chưa đúng định dạng</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Số điện thoại" id="soDt" name="soDt" [(ngModel)]="user.soDt"
              #soDt="ngModel" required
              pattern="(09[0|1|3|4|6|7|8|9]|03[2|3|4|5|6|7|8|9]|05[6|8|9]|07[0|6|7|8|9]|08[1|2|3|4|5|8|9])+([0-9]{7})\b" />
          </mat-form-field>

          <div *ngIf="soDt?.errors && (soDt.dirty || soDt.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="soDt?.errors.required">Bạn phải nhập số điện thoại</span>
            <span *ngIf="soDt?.errors.pattern">Bạn chưa nhập đúng định dạng số điện thoại</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field>
            <mat-select placeholder="Loại người dùng" name="maLoaiNguoiDung" [(ngModel)]="user.maLoaiNguoiDung"
              #maLoaiNguoiDung="ngModel" required>
              <mat-option *ngFor="let type of loaiNguoiDung" [value]="type.maLoaiNguoiDung">{{ type.tenLoaiNguoiDung }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="maLoaiNguoiDung?.errors && (maLoaiNguoiDung.dirty || maLoaiNguoiDung.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="maLoaiNguoiDung?.errors.required">Bạn phải chọn chức vụ</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="row">
            <button mat-raised-button class="btn btn-success" [disabled]="userForm.invalid" (click)="confirmUpdate()">
              Xác nhận
            </button>
            <button mat-raised-button class="btn btn-default" (click)="backToFormData()">
              Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</app-data-table>