<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger d-flex">
                        <h4 class="card-title ">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>