<div class="container" id="cumRapSection">
    <div class="row">
        <img src="https://s3img.vcdn.vn/123phim/2019/09/cns-15680996733835.jpg" alt=""
            style="width: 100%; height: 100%;">
    </div>

    <div class="row lichchieu" id="thongTinCumRapSection">
        <div class="col-lg-1 col-md-6 col-sm-6 hethongrap">
            <ul>
                <li class="htr" *ngFor="let htr of heThongRap">
                    <a (click)="changeHTR(htr.maHeThongRap)">
                        <img [src]="htr.hinhLogo" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <ng-container *ngIf="lichChieuTheoHeThongRap!=null">
            <div class="col-lg-3 col-md-6 col-sm-6 chonrap">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <ng-container *ngFor="let cumRap of lichChieuTheoHeThongRap[0].lstCumRap; let stt=index">
                        <ng-container *ngFor="let phim of cumRap.danhSachPhim; let stt2=index">
                            <a *ngIf="phim.lichChieuPhim.length>0" [ngClass]="{'active':stt2===0}"
                                class="nav-link hover-shadow-box-animation truncate-text"
                                id="v-pills-{{cumRap.maCumRap}}" data-toggle="pill" href="#{{cumRap.maCumRap}}"
                                role="tab" [attr.aria-controls]="cumRap.maCumRap"
                                aria-selected="true">{{cumRap.tenCumRap}} <br>
                                {{cumRap.diaChi}}
                            </a>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 chonlichchieu">
                <div class="tab-content tabLichChieu" id="v-pills-tabContent">
                    <ng-container *ngFor="let cumRap of lichChieuTheoHeThongRap[0].lstCumRap; let stt=index">
                        <ng-container *ngFor="let phim of cumRap.danhSachPhim; let stt=index">
                            <ng-container *ngIf="phim.lichChieuPhim.length>0">
                                <div class="tab-pane fade" [ngClass]="{'show active' : stt===0}"
                                    id="{{cumRap.maCumRap}}" role="tabpanel"
                                    attr.aria-labelledby="v-pills-{{cumRap.maCumRap}}">
                                    <ng-container *ngFor="let phim of cumRap.danhSachPhim">
                                        <div *ngIf="phim.lichChieuPhim.length>0" class="card text-left">
                                            <div class="card-body">
                                                <h3 class="card-title colorCinema">
                                                    <div class="imgPhim">
                                                        <img [src]="phim.hinhAnh">
                                                    </div>
                                                    <div class="content">
                                                        <span
                                                            class="typeMovie">{{phim.loaiPhim}}</span>&nbsp;&nbsp;-&nbsp;&nbsp;
                                                        <span>{{phim.tenPhim}}</span>
                                                        <br>
                                                    </div>
                                                </h3>
                                                <p class="card-text">
                                                    <ng-container
                                                        *ngFor="let lichChieu of phim.lichChieuPhim; let i=index">
                                                        <a routerLink="/chi-tiet-dat-ve/{{lichChieu.maLichChieu}}"
                                                            *ngIf="i<=8"
                                                            class="hover-underline-animation text-success display-4 lichchieu__choosing">
                                                            {{lichChieu.ngayChieuGioChieu | date : 'hh:mm'}}
                                                        </a>
                                                    </ng-container>
                                                </p>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>