<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">supervisor_account</i>
                        </div>
                        <p class="card-category">Người dùng</p>
                        <h3 class="card-title">{{ dataDisplay.soLuongNguoiDung }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Rạp</p>
                        <h3 class="card-title">{{ dataDisplay.soLuongRap }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">movie</i>
                        </div>
                        <p class="card-category">Phim</p>
                        <h3 class="card-title">{{ dataDisplay.soLuongPhim }}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">home</i>
                        </div>
                        <p class="card-category">Cụm rạp</p>
                        <h3 class="card-title">{{ dataDisplay.soLuongCumRap }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Báo cáo doanh thu đặt vé theo tháng</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 100% </span>
                        </p>
                    </div>
                    <div class="card-footer" style="opacity:0">
                        <div class="stats"><i class="material-icons">access_time</i> updated 4 minutes ago</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>