<app-data-table [title]="title" [subTitle]="subTitle">

  <ng-container *ngIf="isEdit || isInsert; then formEdit else formData"></ng-container>

  <ng-template #formData>

    <button mat-icon-button matTooltip="Thêm cụm rạp" class="iconbutton" color="warn" (click)="insertCumRap()">
      <mat-icon aria-label="Insert">
        add_circle_outline
      </mat-icon>
    </button>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Hãy nhập từ khóa bạn muốn tìm kiếm">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table" matSort>

      <ng-container matColumnDef="maCumRap" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Mã cụm rạp </th>
        <td mat-cell *matCellDef="let element"> {{element.maCumRap}} </td>
      </ng-container>

      <ng-container matColumnDef="tenCumRap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Tên cụm rạp </th>
        <td mat-cell *matCellDef="let element"> {{element.tenCumRap}} </td>
      </ng-container>

      <ng-container matColumnDef="thongTin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Thông tin </th>
        <td mat-cell *matCellDef="let element"> {{element.thongTin}} </td>
      </ng-container>

      <ng-container matColumnDef="maHeThongRap">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> Hệ thống rạp </th>
        <td mat-cell *matCellDef="let element"> {{element.maHeThongRap}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"></th>

        <td mat-cell *matCellDef="let element">
          <button (click)="editCumRap(element.maCumRap)" mat-icon-button matTooltip="Chỉnh sửa" class="iconbutton"
            color="primary">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button (click)="xoaCumRap(element.maCumRap)" mat-icon-button matTooltip="Xóa" class="iconbutton"
            color="warn">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSource.data.length" [pageSize]="20" [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>

  </ng-template>

  <ng-template #formEdit>
    <form #cumrapForm="ngForm">
      <div class="card">
        <div class="card-header card-header-icon card-header-rose">
          <div class="card-icon">
            <i *ngIf="isInsert" class="material-icons" style="font-size: 30px">add_circle_outline</i>
            <i *ngIf="isEdit" class="material-icons" style="font-size: 30px">edit</i>
          </div>
        </div>
        <div class="card-body">
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Mã cụm rạp" id="maCumRap" name="maCumRap"
              [(ngModel)]="cumRap.maCumRap" #maCumRap="ngModel" [readonly]="this.isEdit" required />
          </mat-form-field>

          <div *ngIf="maCumRap.errors && (maCumRap.dirty || maCumRap.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="maCumRap?.errors?.required ">Bạn phải nhập mã cụm rạp</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Tên cụm rạp" id="tenCumRap" name="tenCumRap"
              [(ngModel)]="cumRap.tenCumRap" #tenCumRap="ngModel" required />
          </mat-form-field>

          <div *ngIf="tenCumRap.errors && (tenCumRap.dirty || tenCumRap.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="tenCumRap?.errors?.required ">Bạn phải nhập tên cụm rạp</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Thông tin cụm rạp" id="thongTin" name="thongTin"
              [(ngModel)]="cumRap.thongTin" #thongTin="ngModel" required />
          </mat-form-field>

          <div *ngIf="thongTin.errors && (thongTin.dirty || thongTin.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="thongTin?.errors?.required ">Bạn phải nhập thông tin cụm rạp</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <mat-form-field>
            <mat-select placeholder="Cụm rạp chiếu" name="maHeThongRap" [(ngModel)]="cumRap.maHeThongRap"
              #maHeThongRap="ngModel" required>
              <mat-option *ngFor="let type of heThongRap" [value]="type.maHeThongRap">{{ type.tenHeThongRap }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="maHeThongRap?.errors && (maHeThongRap.dirty || maHeThongRap.touched)"
            class="alert alert-warning alert-dismissible fade show" role="alert">
            <span *ngIf="maHeThongRap?.errors.required">Bạn phải chọn cụm rạp</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>


          <div class="row">
            <button mat-raised-button class="btn btn-success" [disabled]="cumrapForm.invalid" (click)="confirmUpdate()">
              Xác nhận
            </button>
            <button mat-raised-button class="btn btn-default" (click)="backToFormData()">
              Hủy bỏ
            </button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</app-data-table>