<footer class="footer" *ngIf="isChiTietDatVe()">
    <div class="container footer__content">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <a>FAQ</a>
                        <a>....</a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6">
                        <a target="_blank" href="http://bhdstar.vn">Chính sách ABC</a>
                        <a target="_blank" href="http://bhdstar.vn">Chính sách ABC</a>
                        <a target="_blank" href="http://bhdstar.vn">Chính sách ABC</a>
                        <a target="_blank" href="http://bhdstar.vn">Chính sách ABC</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/galaxycine.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/cinestar.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/bhd.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/megags.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/404b8c4b80d77732e7426cdb7e24be20.png" alt="" />
                    </a>
                </div>

                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/cnx.jpg" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/dongdacinema.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/momo.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/STARLIGHT.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/bt.jpg" alt="" />
                    </a>
                </div>

                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/galaxycine.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/cinestar.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/bhd.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/megags.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/404b8c4b80d77732e7426cdb7e24be20.png" alt="" />
                    </a>
                </div>

                <div class="row col-lg-12 col-md-12 col-sm-12">
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/cnx.jpg" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/dongdacinema.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/momo.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/STARLIGHT.png" alt="" />
                    </a>
                    <a target="_blank" href="http://bhdstar.vn">
                        <img class="iconConnect" src="../../../../../assets/images/Home/bt.jpg" alt="" />
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <i class="material-icons">
                        face
                    </i> Nguyễn Ngọc Đăng Khoa
                </div>
                <div class="row">
                    <i class="material-icons">
                        menu_book
                    </i> Khóa luận
                </div>
                <div class="row">
                    <i class="material-icons">
                        school
                    </i> BI001
                </div>
                <div class="row">
                    <i class="material-icons">
                        movie
                    </i> ĐẶT VÉ PHIM ONLINE
                </div>
            </div>
        </div>
    </div>
</footer>