<button *ngIf="gheInput.daDat" disabled class="btn ghe gheDaDat">
  <i class="material-icons">
    close
  </i>
</button>

<button *ngIf="!gheInput.daDat" [ngClass]="{'gheVip':gheInput.loaiGhe==='Vip','gheDangDat':dangDat}" class="btn ghe" (click)="datGhe()">{{gheInput.stt}}</button>

<!-- <ng-content></ng-content> -->