<app-data-table [title]="title" [subTitle]="subTitle">
    <ng-container *ngIf="isEdit || isInsert; then formEdit; else formData"></ng-container>

    <ng-template #formData>
        <button mat-icon-button matTooltip="Thêm phim" class="iconbutton" color="warn" (click)="insertPhim()">
            <mat-icon aria-label="Insert">
                add_circle_outline
            </mat-icon>
        </button>

        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="Hãy nhập từ khóa bạn muốn tìm kiếm" />
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" class="table" matSort>
            <ng-container matColumnDef="tenPhim" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Tên phim</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.tenPhim.length > 20 ? (element.tenPhim | slice: 0:20) + '..' : element.tenPhim }}
                </td>
            </ng-container>

            <ng-container matColumnDef="hinhAnh">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Hình ảnh</th>
                <td mat-cell *matCellDef="let element">
                    <img [src]="element.hinhAnh" alt="" width="120" height="120" />
                </td>
            </ng-container>

            <ng-container matColumnDef="moTa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Mô tả</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.moTa.length > 40 ? (element.moTa | slice: 0:40) + '..' : element.moTa }}
                </td>
            </ng-container>

            <ng-container matColumnDef="biDanh">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Tên ngắn</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.biDanh }}
                </td>
            </ng-container>

            <ng-container matColumnDef="danhGia">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Đánh giá</th>
                <td mat-cell *matCellDef="let element">{{ element.danhGia | number }}</td>
            </ng-container>

            <ng-container matColumnDef="maLoaiPhim">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Loại phim</th>
                <td mat-cell *matCellDef="let element">{{ element.maLoaiPhim }}</td>
            </ng-container>

            <ng-container matColumnDef="trailer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Đường dẫn</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.trailer.length > 25 ? (element.trailer | slice: 0:25) + '..' : element.trailer }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ngayKhoiChieu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Ngày công chiếu</th>
                <td mat-cell *matCellDef="let element">{{ element.ngayKhoiChieu | date: 'dd/MM/yyyy' }}</td>
            </ng-container>

            <ng-container cdkColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"></th>

                <td mat-cell *matCellDef="let element">
                    <button (click)="editPhim(element.maPhim)" mat-icon-button matTooltip="Chỉnh sửa" class="iconbutton"
                        color="primary">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button (click)="xoaPhim(element.maPhim)" mat-icon-button matTooltip="Xóa" class="iconbutton"
                        color="warn">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [length]="dataSource.data.length" [pageSize]="20" [pageSizeOptions]="[20, 50, 100]"
            showFirstLastButtons>
        </mat-paginator>
    </ng-template>

    <ng-template #formEdit>
        <form #phimForm="ngForm">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <div class="card-icon">
                        <i *ngIf="isInsert" class="material-icons" style="font-size: 30px">add_circle_outline</i>
                        <i *ngIf="isEdit" class="material-icons" style="font-size: 30px">edit</i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Tên phim" id="tenPhim" name="tenPhim"
                                    [(ngModel)]="phim.tenPhim" #tenPhim="ngModel" required />
                            </mat-form-field>

                            <div *ngIf="tenPhim.errors && (tenPhim.dirty || tenPhim.touched)"
                                class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span *ngIf="tenPhim?.errors?.required ">Bạn phải nhập tên phim</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <mat-form-field class="example-full-width ">
                                <input matInput type="text" placeholder="Mô tả phim" id="moTa" name="moTa"
                                    [(ngModel)]="phim.moTa" #moTa="ngModel" />
                            </mat-form-field>



                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Ngày khởi chiếu" name="date"
                                    [(ngModel)]="phim.date" disabled required />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker disabled="false"></mat-datepicker>
                            </mat-form-field>


                            <mat-form-field class="example-full-width ">
                                <input matInput type="text" placeholder="Tên ngắn" id="biDanh" name="biDanh"
                                    [(ngModel)]="phim.biDanh" #biDanh="ngModel" required />
                            </mat-form-field>

                            <div *ngIf="biDanh.errors && (biDanh.dirty || biDanh.touched)"
                                class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span *ngIf="biDanh?.errors?.required ">Bạn phải nhập tên ngắn</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <mat-form-field class="example-full-width ">
                                <input matInput type="number" placeholder="Đánh giá" id="danhGia" name="danhGia"
                                    [(ngModel)]="phim.danhGia" #danhGia="ngModel" required />
                            </mat-form-field>

                            <div *ngIf="danhGia.errors && (danhGia.dirty || danhGia.touched)"
                                class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span *ngIf="danhGia?.errors?.required ">Bạn phải đánh giá phim</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <mat-form-field>
                                <mat-select placeholder="Loại phim" name="maLoaiPhim" [(ngModel)]="phim.maLoaiPhim"
                                    required #maLoaiPhim="ngModel">
                                    <mat-option *ngFor="let type of loaiPhim" [value]="type.maLoaiPhim">
                                        {{ type.tenLoaiPhim }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div *ngIf="maLoaiPhim.errors && (maLoaiPhim.dirty || maLoaiPhim.touched)"
                                class="alert alert-warning alert-dismissible fade show" role="alert">
                                <span *ngIf="maLoaiPhim?.errors?.required ">Bạn phải chọn loại phim</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <mat-form-field class="example-full-width ">
                                <input matInput type="text" placeholder="Đường dẫn" id="trailer" name="trailer"
                                    [(ngModel)]="phim.trailer" #trailer="ngModel" />
                            </mat-form-field>
                        </div>

                        <div class="col-lg-4">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <ng-container *ngIf="phim.hinhAnh != null; else noneImage">
                                        <img [src]="phim.hinhAnh" alt="" style="width: 300px;
                                        height: 400px;" />
                                    </ng-container>

                                    <ng-template #noneImage><img src="../../../../assets/images/Home/D.jpg" />
                                    </ng-template>
                                </div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new" (click)="file.click()">Chọn hình</span>
                                        <input #file type="file" multiple (change)="upload(file.files)" hidden />
                                    </span>
                                </div>

                                <!-- <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                                  {{progress}}%
                                </span>
              
                                                  <span style="font-weight:bold;color:green;" *ngIf="message">
                                  {{message}}
                                </span> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button mat-raised-button class="btn btn-success" [disabled]="phimForm.invalid"
                            (click)="confirmUpdate()">
                            Xác nhận
                        </button>
                        <button mat-raised-button class="btn btn-default" (click)="backToFormData()">
                            Hủy bỏ
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</app-data-table>