<div class="card" routerLink="/chi-tiet-phim/{{phim.biDanh}}-{{phim.maPhim}}">
  <div class=" card-body" [ngStyle]="{'background-image': 'url(' + phim.hinhAnh + ')'}">

  </div>
  <div class="card-header hideHover">
    <h4 class="card-title">{{phim.tenPhim}}</h4>
    <p class="card-category">172 phút - 7.9 IMDb</p>
  </div>

  <div class="hoverInfo showHover">
    <a class="playTrailer" href="{{phim.trailer}}" target="_blank"><i class="fa fa-play-circle"></i></a>
  </div>

  <div class="card-header button-datve showHover" *ngIf="isComming(phim.ngayKhoiChieu,currentDate)">
    <button class="btn btn-round buyNow" routerLink="/chi-tiet-phim/{{phim.biDanh}}-{{phim.maPhim}}">Đặt vé</button>
  </div>
  <span class="typeMovie">{{phim.maLoaiPhim}}</span>
  <span class="avgPoint">
    <p class="txtPoint">{{ phim.danhGia * 2 | number:'1.0-0'}}</p>
    <p class="listStar">
      <i class="fa fa-star " *ngFor="let item of array(phim.danhGia)"></i>
    </p>
  </span>
</div>