<ng-container *ngIf="isLoginForm; else registerForm">
    <section class="row" id="loginSection"
        [ngStyle]="{'background-image': 'url(../assets/images/Login/popcorn-1085072_1920.jpg)'}">
        <div class="container">
            <form #userForm="ngForm" (ngSubmit)="dangNhap()">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon" [routerLink]="['/']">
                            <i class="material-icons" style="font-size: 30px">account_circle</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Tài khoản" id="taiKhoan" minlength="4"
                                name="taiKhoan" [(ngModel)]="user.taiKhoan" #taiKhoan="ngModel" required />
                        </mat-form-field>

                        <div *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)"
                            class="alert alert-warning alert-dismissible fade show" role="alert">
                            <span *ngIf="taiKhoan?.errors.required ">Bạn phải nhập tên tài khoản</span>
                            <span *ngIf="taiKhoan?.errors.minlength ">Tài khoản có độ dài hơn 4 ký tự</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <mat-form-field class="example-full-width ">
                            <input matInput type="password" placeholder="Mật khẩu" name="matKhau"
                                [(ngModel)]="user.matKhau" #matKhau="ngModel" required />
                        </mat-form-field>

                        <div *ngIf="matKhau.errors && (matKhau.dirty || matKhau.touched)"
                            class="alert alert-warning alert-dismissible fade show" role="alert">
                            <span *ngIf="matKhau?.errors.required ">Bạn phải nhập mật khẩu</span>

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row mb-5 box__dangky">
                            <div class="col-md-7">
                                <div class="form-check" [routerLink]="['/register']">
                                    <label class="form-check-label ">
                                        <i class="material-icons">
                                            https</i> Đăng ký
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <button mat-raised-button class="btn btn-info" type="submit">Đăng nhập</button>
                            </div>
                        </div>

                        <button mat-raised-button class="btn btn-default btn-google">
                            <i class="fa fa-google "></i>
                            Đăng nhập bằng Google
                        </button>
                        <button mat-raised-button class="btn btn-default btn-facebook ">
                            <i class="fa fa-facebook-square "></i>
                            Đăng nhập bằng Facebook
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</ng-container>

<ng-template #registerForm>
    <section class="row" id="loginSection"
        [ngStyle]="{'background-image': 'url(../assets/images/Login/popcorn-1433326_1920.jpg)'}">
        <div class="container">
            <form #userForm="ngForm" (ngSubmit)="dangKy()">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon" [routerLink]="['/']">
                            <i class="material-icons" style="font-size: 30px">how_to_reg
                            </i>
                        </div>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Tài khoản" minlength="6" id="taiKhoan"
                                name="taiKhoan" [(ngModel)]="user.taiKhoan" #taiKhoan="ngModel" required />
                        </mat-form-field>

                        <div *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)"
                            class="alert alert-warning alert-dismissible fade show" role="alert">

                            <span *ngIf="taiKhoan?.errors.required ">Bạn phải nhập tài khoản</span>

                            <span *ngIf="taiKhoan?.errors.minlength ">Tài khoản có độ dài hơn 6 ký tự</span>

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Email" id="email" name="email"
                                [(ngModel)]="user.email" #email="ngModel" required
                                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" />
                        </mat-form-field>

                        <div *ngIf="email.errors && (email.dirty || email.touched)"
                            class="alert alert-warning alert-dismissible fade show" role="alert">

                            <span *ngIf="email?.errors.required ">Bạn phải nhập Email</span>

                            <span *ngIf="email?.errors.pattern ">Email chưa đúng định dạng</span>

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Số điện thoại" id="soDt" name="soDt"
                                [(ngModel)]="user.soDt" #soDt="ngModel" required />
                        </mat-form-field>

                        <div *ngIf="soDt.errors && (soDt.dirty || soDt.touched)"
                            class="alert alert-warning alert-dismissible fade show" role="alert">

                            <span *ngIf="soDt?.errors.required">Bạn phải nhập số điện thoại</span>

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Họ và tên" id="hoTen" name="hoTen"
                                [(ngModel)]="user.hoTen" #hoTen="ngModel" />
                        </mat-form-field>

                        <mat-form-field class="example-full-width ">
                            <input matInput type="password" placeholder="Mật khẩu" name="matKhau"
                                [(ngModel)]="user.matKhau" #matKhau="ngModel" required />
                        </mat-form-field>

                        <div *ngIf="matKhau.errors && (matKhau.dirty || matKhau.touched)"
                            class="alert alert-warning alert-dismissible fade show" role="alert">

                            <span *ngIf="matKhau?.errors.required ">Bạn phải nhập mật khẩu</span>

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <mat-form-field class="example-full-width ">
                            <input matInput type="password" placeholder="Nhập lại mật khẩu" name="confirmPassword"
                                [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required
                                pattern="{{ matKhau.value }}" />
                        </mat-form-field>


                        <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)"
                            class="alert alert-warning alert-dismissible fade show" role="alert">

                            <span *ngIf="confirmPassword?.errors.required ">Bạn phải nhập lại mật khẩu</span>
                            <span *ngIf="confirmPassword?.errors.pattern">Mật khẩu nhập lại chưa chính xác</span>

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="row mb-5 justify-content-center">
                            <button mat-raised-button class="btn btn-info" [disabled]="userForm.invalid"
                                type="submit">Đăng ký</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</ng-template>