<div class="logo">
  <a [routerLink]="['/']" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Menu
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">calendar_today</i>
          <p>
            <span class="d-lg-none d-md-block">Lịch chiếu</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">event</i>
          <p>
            <span class="d-lg-none d-md-block">Cụm rạp</span>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">explore
          </i>
          <p>
            <span class="d-lg-none d-md-block">Tin tức</span>
          </p>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">
          <i class="material-icons">account_circle
          </i>
          <p>
            <span class="d-lg-none d-md-block">Đăng nhập</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</div>