<mat-horizontal-stepper linear #stepper>
    <ng-template matStepperIcon="edit">
        <mat-icon>check_circle</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
        <mat-icon>done_all</mat-icon>
    </ng-template>

    <!-- Custom icon with a context variable. -->
    <ng-template matStepperIcon="number" let-index="index">
        <mat-icon>trending_flat
        </mat-icon>
    </ng-template>

    <mat-step [completed]="tongTienChonVe>0">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>CHỌN LOẠI VÉ</ng-template>
            <div class="row chonve" *ngIf="lichChieu.thongTinPhim!=null">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="img">
                        <img [src]="lichChieu.thongTinPhim.hinhAnh" alt="">
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 ticketcheckout">
                    <div class="container">
                        <div class="row top__content">
                            <div class="logo__cinema">

                            </div>
                            <div class="content__cinema">
                                <p class="address">
                                    {{lichChieu.thongTinPhim.tenCumRap}}
                                </p>

                                <p class="detail__address">{{lichChieu.thongTinPhim.diaChi}}</p>

                                <p class="time">
                                    {{lichChieu.thongTinPhim.ngayChieu}} - {{lichChieu.thongTinPhim.gioChieu}} -
                                    {{lichChieu.thongTinPhim.tenRap}}
                                </p>
                            </div>
                        </div>

                        <div class="row ticket">
                            <div class="col-lg-4 col-md-4 col-sm-4 typeticket">
                                Vé VIP 2D
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 priceticket">
                                90.000 đ
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 opnum">
                                <button class="btn minus" (click)="removeTicket('Vip',90000)">
                                    <i class="material-icons">
                                        remove
                                    </i>
                                </button>

                                <span class="number">{{quantityVip}}</span>

                                <button class="btn add" (click)="addTicket('Vip',90000)">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>

                        <div class="row ticket">
                            <div class="col-lg-4 col-md-4 col-sm-4 typeticket">
                                Vé thường 2D
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 priceticket">
                                75.000 đ
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 opnum">
                                <button class="btn minus" (click)="removeTicket('Thuong',75000)">
                                    <i class="material-icons">
                                        remove
                                    </i>
                                </button>

                                <span class="number">{{quantityThuong}}</span>

                                <button class="btn add" (click)="addTicket('Thuong',75000)">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>

                        <div class="row ticket" style="display: none;">
                            <div class="col-lg-4 col-md-4 col-sm-4 typeticket">
                                Ghế đôi 2D
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 priceticket">
                                90.000 đ
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 opnum">
                                <button class="btn minus" (click)=removeTicket()>
                                    <i class="material-icons">
                                        remove
                                    </i>
                                </button>

                                <span class="number"></span>

                                <button class="btn add" (click)=addTicket()>
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>

                        <div class="detailticket">
                            <div class="row chosenticket">
                                <div class="col-lg-8 col-md-8 col-sm-6 chosen__content">
                                    <div class="totalcost">
                                        <div class="title">
                                            TỔNG TIỀN
                                        </div>
                                        <div class="chosenpriceticket">
                                            {{tongTienChonVe | number}} đ
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 chosen__button"
                                    [ngClass]="tongTienChonVe>0 ? '' : 'disabled' ">
                                    <button mat-button matStepperNext [disabled]="tongTienChonVe==0"
                                        (click)="startTiming()">CHỌN GHẾ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>CHỌN GHẾ & THANH TOÁN</ng-template>

            <div class="row" id="wrapper">
                <!-- Page Content -->
                <section class="col-lg-8 col-md-8 col-sm-12 container booking">
                    <div class="seatmap">
                        <div class="parent-panzoom">
                            <div class="panzoom">
                                <div class="screen">
                                    <div class="namescreen">
                                        <img class="logo" src="../../../../assets/images/Booking/screen.png">
                                    </div>
                                </div>
                                <div class="listseat">
                                    <app-booking-chair [gheInput]="ghe"
                                        *ngFor="let ghe of lichChieu.danhSachGhe;let i=index">
                                    </app-booking-chair>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row noteseat">
                        <div class="col-lg-12 col-sm-12 typeseats">
                            <span class="typeseat">
                                <span class="colorseat colornull">

                                </span>
                                <span class="nameseat">Ghế Trống

                                </span>
                            </span>
                            <span class="typeseat">
                                <span class="colorseat colorcouple">

                                </span>
                                <span class="nameseat">Ghế Đôi

                                </span>
                            </span>
                            <span class="typeseat">
                                <span class="colorseat colorvip">

                                </span>
                                <span class="nameseat">Ghế VIP

                                </span>
                            </span>
                            <span class="typeseat">
                                <span class="colorseat colorchoosing">

                                </span>
                                <span class="nameseat">Ghế đang chọn

                                </span>
                            </span>
                            <span class="typeseat">
                                <span class="colorseat colorchosen">
                                    <i class="material-icons">
                                        close
                                    </i>
                                </span>
                                <span class="nameseat">Ghế đã có người chọn
                                </span>
                            </span>
                            <span class="typeseat">
                                <span class="colorseat colornotchoose">
                                    <i class="material-icons">
                                        block
                                    </i>
                                </span>
                                <span class="nameseat">Ghế không thể chọn

                                </span>
                            </span>
                        </div>
                    </div>
                </section>
                <!-- /#page-content-wrapper -->

                <!-- Sidebar -->
                <section class="col-lg-4 col-md-4 col-sm-12 bookingSummary">
                    <div class="container">
                        <div class="row filmname" *ngIf="lichChieu.thongTinPhim!=null">
                            <span class="ageType mb-3">{{lichChieu.thongTinPhim.tenPhim}}</span>

                            <span class="ageType mb-3"
                                style="background: red;display: inline-block;">{{counter | pipeminute}}</span>

                            <div class="contentcinema">
                                <div class="address">
                                    {{lichChieu.thongTinPhim.diaChi}}
                                </div>
                                <div class="hour">
                                    {{lichChieu.thongTinPhim.ngayChieu}} - {{lichChieu.thongTinPhim.gioChieu}} -
                                    {{lichChieu.thongTinPhim.tenRap}}
                                </div>
                            </div>
                        </div>


                        <div class="row total">
                            <span> {{tongTien | number}} đ</span>
                        </div>
                        <div class="row text-center">
                            <h2 style="text-transform: uppercase;">Danh sách ghế đã chọn</h2>
                        </div>
                        <div class="chair row">
                            <div class="info col-sm-7 col-xs-7">
                                <span style="color: #fb4226;font-weight: bold">Ghế: </span>
                                <span class="title">
                                    <ng-container *ngFor="let gheDangDat of danhSachGheDangDat">{{gheDangDat.stt}},
                                    </ng-container>
                                </span>
                            </div>
                            <div class="totalchair col-sm-5 col-xs-5">
                                {{tongTien | number}} đ
                            </div>
                        </div>

                        <div class="info__user">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Email" [value]="userLogin.email" readonly />
                            </mat-form-field>
                        </div>

                        <div class="info__user">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Phone" [value]="userLogin.soDt" readonly />
                            </mat-form-field>
                        </div>

                        <div class="method__pay">
                            <div class="title">Hình thức thanh toán</div>
                            <div class="method__choose">
                                <div class="form-check form-check-radio mt-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" (click)="chooseMethodPay()"
                                            name="exampleRadios" id="exampleRadios1" value="option1">
                                        Thanh toán Visa/MasterCard quốc tế
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check form-check-radio mt-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" (click)="chooseMethodPay()"
                                            name="exampleRadios" id="exampleRadios2" value="option2">
                                        Thanh toán chuyển khoản trực tiếp
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>

                                <div class="form-check form-check-radio mt-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" (click)="chooseMethodPay()"
                                            name="exampleRadios" id="exampleRadios3" value="option3">
                                        Thanh toán ZaloPay
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-left: 0px;margin-right: 0px;">
                            <button (click)="datVe()" class="btn btn-success w-100">Đặt vé</button>
                        </div>
                    </div>
                </section>
                <!-- /#sidebar-wrapper -->
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>KẾT QUẢ ĐẶT VÉ</ng-template>
        <div class="row info__booking justify-content-center" *ngIf="lichChieu.thongTinPhim!=null">
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Thông tin đặt vé</h4>
                        <p class="card-category">Phim: {{lichChieu.thongTinPhim.tenPhim}}</p>
                    </div>
                    <div class="card-body">
                        Tên phim: {{lichChieu.thongTinPhim.tenPhim}} <br>
                        Ngày chiếu: <b>{{lichChieu.thongTinPhim.ngayChieu}}</b> <br>
                        Suất chiếu: <b>{{lichChieu.thongTinPhim.gioChieu}}</b><br>
                        {{lichChieu.thongTinPhim.tenRap}} <br>
                        Địa chỉ rạp: {{lichChieu.thongTinPhim.diaChi}} <br>

                    </div>

                    <div class="card-body">
                        Số điện thoại: <b>{{userLogin.soDt}}</b> <br>
                        Email: <b>{{userLogin.email}}</b>
                    </div>
                </div>
            </div>

        </div>
        <div style="display: none; visibility: hidden;">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>

</mat-horizontal-stepper>