<div class="container listmovie" id="listMovieSection">
    <div class="nav justify-content-center nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Lịch chiếu</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="viewPhimComming()">Sắp chiếu</a>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="row">
                <ng-container *ngIf="danhSachPhim">
                    <div class="col-md-3 col-sm-6 item-movie" *ngFor="let phim of danhSachPhim">
                        <app-movie [phim]=phim></app-movie>
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
                <ng-container *ngIf="danhSachPhimSapChieu">
                    <div class="col-md-3 col-sm-6 item-movie" *ngFor="let phim of danhSachPhimSapChieu">
                        <app-movie [phim]=phim></app-movie>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>