.gheDaDat {
  background-color: transparent;
  border: 2px dashed black;
  pointer-events: none;
  i {
    color: black;
    font-size: 1.2rem !important;
  }
}

.gheVip {
  background-color: #50e3c2;
  &:hover {
    background-color: #fb4226;
  }
}

.gheDangDat {
  background-color: #44c020 !important;
  &:hover {
    background-color: #fb4226;
  }
}

.ghe {
  padding: 12px 0px;
  width: 63px;
  &:hover {
    background-color: #fb4226;
  }
}

.mat-stepper-horizontal {
  background-color: #eee;
}

.mat-step-header {
  pointer-events: none !important;
}

.chonve {
  padding-top: 100px;
  .col-lg-4 {
    display: flex;
    justify-content: center;
    .img {
      margin: 10px auto;
      cursor: pointer;
      vertical-align: middle;
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      transition-duration: 0.3s;
      transition-property: box-shadow, transform;
      img {
        display: block;
        width: 350px;
      }
    }
    .img:hover,
    .img:active,
    .img:focus {
      box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
      transform: scale(1.2);
    }
  }
  .ticketcheckout {
    display: flex;
    align-items: center;
    .container {
      max-width: 800px;
      .top__content {
        justify-items: center;
        .logo__cinema {
        }
        .content__cinema {
          .address {
            font-size: 24px;
            color: #44c020;
          }
          .detail__address {
            font-size: 18px;
            color: #9b9b9b !important;
          }
          .time {
          }
        }
      }
      .ticket {
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        padding: 25px 0 20px;
        border-top: 1px dashed black;
        .typeticket {
          font-size: 16px;
          padding-left: 0;
          font-weight: 400;
        }
        .priceticket {
          color: #44c020;
          font-size: 18px;
          text-align: center;
          font-weight: 400;
        }
        .opnum {
          display: flex;
          align-items: center;
          .btn {
            padding: 5px !important;
          }
          .minus {
            background: 0 0;
            border: transparent;
            background-color: #9b9b9b !important;
            margin-right: 17px;
            font-size: 16px;
          }
          .add {
            background: 0 0;
            border: transparent;
            background-color: #fb4226 !important;
            font-size: 16px;
            margin-left: 13px;
          }
          .number {
            border: 1px solid #e9e9e9;
            border-radius: 4px;
            height: 32px;
            width: 32px;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            padding-top: 4px;
          }
        }
      }
      .detailticket {
        margin-top: 60px;
        position: static;
        .chosenticket {
          margin: auto;
          .chosen__content {
            border: 1px solid #fb4226;
            display: flex;
            align-items: center;
            padding-left: 0px;
            padding-right: 0px;
            .totalcost {
              margin-left: 20px;
              .title {
                color: #9b9b9b;
                font-size: 16px;
              }
              .chosenpriceticket {
                margin-top: 10px;
                font-size: 24px;
                font-weight: 600;
                color: #44c020;
              }
            }
          }
          .chosen__button {
            cursor: pointer;
            width: 160px;
            height: 100px;
            color: #e9e9e9 !important;
            background-image: linear-gradient(223deg, #b4ec51 0, #429321 100%);
            .mat-button {
              width: 100%;
              background: transparent;
              height: 100%;
            }
          }
          .disabled {
            background-image: none;
            background-color: #afafaf;
            font-size: 24px;
          }
        }
      }
    }
  }
}

.booking {
  .row {
    margin: 0px;
  }
  .seatmap {
    margin-top: 35px;
    margin-bottom: 60px;
    .parent-panzoom {
      .panzoom {
        .screen {
          .namescreen {
            display: flex;
            justify-content: center;
          }
        }
        .listseat {
        }
      }
    }
  }
  .noteseat {
    justify-content: center;
    align-items: center;
    .typeseats {
      display: flex;
      .typeseat {
        display: flex;
        margin-right: 20px;
        .colorseat {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
        .colorcouple {
          background-color: $pink-a400;
        }
        .colorvip {
          background-color: #50e3c2;
        }
        .colornull {
          background-color: grey;
        }
        .colorchoosing {
          background-color: #44c020 !important;
        }
      }
    }
  }
}

.bookingSummary {
  .filmname {
    border-bottom: 1px dashed black;
    padding-bottom: 12.5px;
    font-size: 18px;
    .ageType {
      background-color: #fb4226;
      color: #fff;
      border-radius: 4px;
      padding: 0 5px;
      margin-right: 5px;
      min-width: 33px;
      margin-top: 0.2em;
    }
  }
  .total {
    position: relative;
    border-bottom: 1px dashed #e9e9e9;
    height: 80px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      --some-color: #44c020;
      --some-keyword: bold;
      --some-size: 3.25em;
      --some-complex-value: 1px 1px 2px whitesmoke, 0 0 1em slategray, 0 0 0.2em slategray;
      color: var(--some-color);
      font-size: var(--some-size);
      font-style: var(--some-keyword);
      text-shadow: var(--some-complex-value);
    }
  }
  .chair {
    padding-bottom: 12.5px;
    padding-top: 12.5px;
    border-bottom: 1px dashed black;
    margin: 0 0 20px 0;
    .info {
      padding-left: 0px;
      .title {
        color: #fb4226;
        font-size: 14px;
      }
    }
    .totalchair {
      text-align: right;
      color: #44c020 !important;
      font-size: 16px;
    }
  }
}

@include respond-to('medium') {
  .chonve {
    padding-top: 40px;
    .col-lg-4 {
      .img {
        margin-bottom: 40px;
      }
    }
  }
}
