#loginSection {
    margin: 0px;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    form {
        max-width: 450px;
        margin: 0 auto;
        .card {
            .card-icon {
                cursor: pointer;
            }
            .card-body {
                .btn-google {
                    i {
                        font-size: 36px;
                        margin-right: 20px;
                    }
                    color: white !important;
                    background-color: #ea4335 !important;
                    width: 100%;
                    padding: 20px 0;
                }
                .btn-facebook {
                    i {
                        font-size: 36px;
                        margin-right: 20px;
                    }
                    color: white !important;
                    background-color: #3b5998 !important;
                    width: 100%;
                    padding: 20px 0;
                }
            }
            .box__dangky {
                justify-content: space-around;
                .form-chekc {
                    margin-top: 10px;
                }
                .form-check-label {
                    i {
                        margin-right: 20px;
                        font-size: 30px;
                    }
                    display: flex;
                    align-items: center;
                    padding-left: 0px;
                    text-transform: uppercase;
                }
                &:hover {
                    .form-check-label {
                        color: $red-a400;
                        transition: all 0.6s;
                    }
                }
            }
        }
    }
}

@include respond-to('small') {
    #loginSection {
        padding-top: 50%;
        padding-left: 20px;
        padding-right: 20px;
        .carousel {
            display: none;
        }
    }
}