.cover {
    position: relative;
}

.background {
    height: 1050px;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@include respond-to('large') {
    .background {
        height: 2000px;
    }
}

.movie__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    .movie__container {
        margin-top: 0px;
        .detailmovie {
            margin: 0px;
            justify-content: center;
            margin-bottom: 60px;
            .container__image {
                position: relative;
                width: 100%;
                .movie__img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    align-items: center;
                    opacity: 0;
                    cursor: pointer;
                    transition: 1s ease;
                    .playTrailer {
                        width: 60px;
                        height: 60px;
                        margin: 0 auto;
                        background: 0 0;
                        border: none;
                        i {
                            font-size: 60px;
                            color: $white;
                            cursor: pointer;
                        }
                    }
                }
                .overlay:hover {
                    opacity: 1;
                }
            }
            .movie {
                margin-top: 60px;
                .movie__date {
                    font-size: 14px;
                    color: #e9e9e9;
                    margin-bottom: 20px;
                }
                .movie__name {
                    .movie__type {
                        font-size: 16px;
                        margin: 6px 6px 0 0;
                        border-radius: 4px;
                        padding: 0 5px;
                        display: inline-block;
                        text-align: center;
                        min-width: 33px;
                        background-color: #fb4226;
                        color: #fff;
                    }
                    font-size: 24px;
                    color: #e9e9e9;
                    margin-bottom: 20px;
                }
                .movie__info {
                    font-size: 14px;
                    color: #e9e9e9;
                    margin-bottom: 20px;
                }
                .movie__button {
                    .button {
                        background-color: #fb4226;
                        border: none;
                        color: #ffffff;
                        outline: none;
                        padding: 12px 40px 10px;
                        position: relative;
                        text-transform: uppercase;
                    }
                    .button:before,
                    .button:after {
                        border: 0 solid transparent;
                        transition: all 0.25s;
                        content: '';
                        height: 24px;
                        position: absolute;
                        width: 24px;
                    }
                    .button:before {
                        border-top: 2px solid #ffffff;
                        left: 0px;
                        top: -5px;
                    }
                    .button:after {
                        border-bottom: 2px solid #ffffff;
                        bottom: -5px;
                        right: 0px;
                    }
                    .button:hover {
                        background-color: #fb4226;
                    }
                    .button:hover:before,
                    .button:hover:after {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .movie__rating {
                width: 111px;
                height: 111px;
                background: 0 0;
                border: 7.5px solid $white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                margin: 0 auto;
                margin-bottom: 40px;
                span {
                    width: 100%;
                    line-height: 111px;
                    font-size: 3.42em;
                    color: $white;
                    text-align: center;
                    white-space: nowrap;
                }
            }
            .movie__star {
                justify-content: center;
                display: flex;
                i {
                    font-size: 36px;
                    color: #fb4226;
                }
            }
        }
        .lichchieu {
            background-color: #fff;
            .chonrap {
                margin-top: 15px;
                .nav-link {
                    opacity: 0.5;
                    font-size: 19px;
                    font-weight: 500;
                    color: #000;
                }
                .nav-link:hover {
                    opacity: 1;
                    color: #fb4226;
                }
                .active {
                    opacity: 1;
                    background-color: transparent;
                    color: #fb4226;
                }
                .nav-pills {
                    transition: all 0.2s;
                }
            }
            .chonlichchieu {
                .dateSelect {
                    height: 65px;
                    padding: 16px !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                    background-color: #fff;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    .dayofWeeek {
                        display: inline-flex;
                        .day {
                            font-size: 19px;
                            cursor: pointer;
                            width: 12.3%;
                            display: inline-block;
                            text-align: center;
                            color: #000;
                        }
                        .active {
                            color: #fb4226;
                        }
                    }
                }
                .tabLichChieu {
                    .lichchieu__choosing {
                        margin-right: 20px;
                    }
                    .lichchieu__choosing:hover {
                        color: #fb4226 !important;
                    }
                }
            }
        }
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fb4226;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-shadow-box-animation {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    margin: 10px;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.hover-shadow-box-animation:hover,
.hover-shadow-box-animation:focus,
.hover-shadow-box-animation:active {
    box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
    transform: scale(1.2);
}